@font-face {font-family: Ubuntu;    src: url("/assets/fonts/Ubuntu-Regular.ttf") format("truetype");    font-weight: 400;   font-style: normal; font-display: swap;}
@font-face {font-family: Ubuntu-bold;   src: url("/assets/fonts/Ubuntu-Medium.ttf") format("truetype"); font-weight: 400;   font-style: normal; font-display: swap;}

.brand{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 10px;
    padding: 10px;
    padding-left: 35px;
    font-family: Ubuntu-bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    background-color: rgb(1, 14, 65);
    border-radius: 15px;
    color: azure;
}

.footerdiv{
    align-items: center;
    gap: .5rem;
    margin: 10px;
    padding: 10px;
    padding-left: 35px;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    background-color: rgb(1, 14, 65);
    border-radius: 15px;
    color: azure;
    align-items: center;
}


.link-clean{
    color: inherit;
    text-decoration: none;
    color: azure;
    align-items: center;

}

.contact-us{
    color: inherit;
    text-decoration: none;
    color: azure;
    font-family: Ubuntu-bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    align-items: center;
}

.linklist{
    margin-left: 5px;
    align-items: center;
    
}

body{
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
    background-image: image(src="assets/pictures/Screenshot_2025-07-06_230248.png");
}

